//Colors

$activeborder: #7BF762;
$bordercolor: #3f8557;
$buttonborder: #5A8F4F;
$mainblue: #051544;
$notselected: #5A8F4F;
$snowcolor: #FFFFFF;
$volcanocolor: #FF7A00;
$skycolor: #6BE4FF;
$milgreen: #1C3C16;

