$phone-bp: 600px;
$tablet-bp: 768px;
$desktop-bp: 1024px;

@mixin phone {
    @media only screen and (max-width: $phone-bp) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-bp) and (max-width: 950px) {
        @content;
    }
}

@mixin bigDesktop {
    @media (min-width: $desktop-bp) and (max-width: 2000px) {
        @content;
    }
}
