@import 'extra';
@import 'mixins';

.colors {
    float: left;
}

.colorButton {
    width: 10em;
    min-height: 7em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: $notselected;
    background-color: $mainblue;
    border-color: $notselected;
    padding-top: 1em;

    h5 {
        float: none;
    }

    .description {
        padding-top: 18px;
        line-height: 50px;
    }

    &.selected {
        color: $activeborder;
        border-color: $activeborder;
        box-shadow: 0 0 14px $activeborder;
    } 
}

.colorButtons {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.snowColor {
    width: 4em;
    height: 2em;
    margin-bottom: 1em;
    background-color: $snowcolor;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    
}

.volcanoColor {
    width: 4em;
    height: 2em;
    margin-bottom: 1em;
    background-color: $volcanocolor;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.skyColor {
    width: 4em;
    height: 2em;
    margin-bottom: 1em;
    background-color: $skycolor;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

@include phone {
    .colorButton {
        width: 6em;
        height: 4em;
    }

    .colorButtons {
        padding-left: 1em;
    }

    .skyColor, .volcanoColor, .snowColor {
        width: 3em;
    }

    h4 {
        text-align: center;
    }
}
