$bordercolor: #3f8557;
$buttonborder: #264348;
$mainblue: #051742;
$text: #54b061;
$snowcolor: #FFFFFF;
$volcanocolor: #ff7a1b;
$skycolor: #6ae4fe;

.colors {
    float: left;
}

.colorButton {
    width: 14em;
    height: 10em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 1em;
    border-width: 0.2em;
    color: $text;
    background-color: $mainblue;
    border-color: $buttonborder;
}

.colorButtons {
    align-content: space-between;
}

.snowColor {
    width: 6em;
    height: 3em;
    margin-bottom: 1em;
    background-color: $snowcolor;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;

}

.volcanoColor {
    width: 6em;
    height: 3em;
    margin-bottom: 1em;
    background-color: $volcanocolor;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.skyColor {
    width: 6em;
    height: 3em;
    margin-bottom: 1em;
    background-color: $skycolor;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
}