@import 'mixins';
@import 'extra';

.totalprice {
    margin-left: 1em;
    text-align: left;
    padding-left: 1em;
    margin-top: 1em;
    text-align: left;
    justify-content: space-around;

    h3 {
        float: left;
    }
}

.container {
    margin-top: 2em;
    margin-bottom: 2em;
    display: inline-block;
    width: 59em;
    min-height: 53em;
    border-style: solid;
    border-radius: 1em;
    border-width: 0.09em;
    color: $notselected;
    background-color: $mainblue;
    border-color: $notselected;

    h4, h3{
        color: $activeborder;
    }
}

.selections {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 0;

    h5 {
        float: left;
    }
}

.priceDashboard {
    float: right;
    width: 19em;
    height: 14em;
    margin-top: 3em;
    margin-right: 1em;
    border-style: solid;
    border-radius: 8px;
    border-width: 0.09em;
    background-color: $milgreen;

    hr {
        border-color: $activeborder;
    }

    h3 {
        margin-block-end: 0.5em;
        margin-block-start: 0.5em;
    }
}

.properties {
    padding-left: 1em;
    margin-top: 1em;
    text-align: left;
    justify-content: space-around;

    h5 {
        line-height: 10px;
    }
}

.price {
    float: right;
    margin-right: 4em;
    color: white;
    font-weight:400;
}

.totalPrice {
    @extend .price;
    margin-right: 1.8em;
}

@include phone {

    .container {
        min-height: 80em;
        width: 25em;
    }

    .priceDashboard {
        position: absolute;
        top: 60em;
        left: 3.5em;
    }

    .selections {
        margin: auto;  
    }
}
