$bordercolor: #3f8557;
$activeborder: #7BF762;
$buttonborder: #264348;
$mainblue: #051742;
$text: #54b061;
$milgreen: #1b3b1a;

.packages {
    float: left;
}

.packageButton {
    width: 10em;
    height: 14.1em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: $text;
    background-color: $mainblue;
    border-color: $buttonborder;

    .descriptionContainer {
        height: 18.5em;
        background-color: $milgreen;
        border-radius: 8px;
        text-align: left;
        font-size: medium;
        line-height: 40px;
        margin-top: 1em;
    }

    &.selected {
        border-color: $activeborder;
    }
}


.packageButtons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    float: left;

    li {
        list-style: none;
    }
}


.description {
    padding-top: 1em;

    ul {
        list-style: none;
    }

    li {
        list-style: triangle inside url('../../public/icons/image\ 1.png');
    }
}

.packageProperties {
    margin-top: 1em;
}