@import 'extra';
@import 'mixins';

.packages {
    float: left;
}

.packageButton {
    width: 10em;
    min-height: 14.1em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: $text;
    background-color: $mainblue;
    border-color: $buttonborder;

    .descriptionContainer {
        min-height: 20em;
        background-color: $milgreen;
        border-radius: 8px;
        text-align: left;
        font-size: medium;
        line-height: 2.5em;
        margin-top: 1em;
    }

    &.selected {
        border-color: $activeborder;
        box-shadow: 0 0 14px $activeborder;
    }

}

.packageButtons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    float: left;

    li {
        list-style: none;
    }
}

.description {
    padding-top: 1em;

    ul {
        list-style: none;
    }

    li {
        list-style: triangle inside url('../../public/icons/image\ 1.png');
    }
}

.packageProperties {
    margin-top: 1em;
}