@import 'extra';

.powers {
    float: left;
}


.powerButton {
    width: 10em;
    height: 4em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: $text;
    background-color: $mainblue;
    border-color: $buttonborder;

    .description {
        padding-top: 18px;
        line-height: 50px;
    }

    &.selected {
        border-color: $activeborder;
    }
}

.powerButtons {
    display: flex;
    flex-direction: row;
    padding: 0;
}