@import 'extra';
@import 'mixins';

.powers {
    float: left;
}

.powerButton {
    width: 10em;
    min-height: 4em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: $notselected;
    background-color: $mainblue;
    border-color: $buttonborder;
    
    .description {
        display: inline-block;
        min-width: 4.3em;
        padding-top: 18px;
    }

    &.selected {
        color: $activeborder;
        border-color: $activeborder;
        box-shadow: 0 0 14px $activeborder;
    }
}

.powerButtons {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
}

@include phone {
    .powerButton {
        width: 6em;
        height: 4em;
    }

    .powerButtons {
        padding-left: 1em;
    }
}