@import 'extra';

.warpDrives {
    float: left;
}

.warpButton {
    width: 10em;
    min-height: 4em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    color: $text;
    background-color: $mainblue;
    border-color: $buttonborder;
    
    .description {
        padding-top: 18px;
    }

    &.selected {
        border-color: $activeborder;
        box-shadow: 0 0 14px $activeborder;
    }
}

.warpButtons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

ul {
    list-style: none;
}