@import 'styles/extra';



@font-face {
  font-family: SpcShip;
  src: url('./styles/fonts/RobotoMono-Light.ttf');
  font-weight: 400;
  font-size: 24px;
  line-height: 31.65px;
}

button {
  font-family: SpcShip;
}


.App {
  text-align: center;
  font-family: SpcShip !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


h4 {
  text-align: left;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #051742;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
